.finalTable {
  width: 100%;
  background-color: var(--blue-light);
  padding: 20px 16px 57px 16px;
  border-radius: 20px;
  margin: 0 1px;
}

.caption {
  font: var(--font-h3);
  color: var(--gray-4);
  text-align: start;
  margin-bottom: 20px;
  font-weight: 500;
  line-height: 100%;
}

.gridContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-rows: max(auto, 44px);
  border: 1px solid var(--black);
  border-radius: 4px;
  gap: 1px;
  background-color: var(--black);
}

/* Таблица */
.gridHeader,
.gridParameter,
.gridValue {
  padding: 10px 12px;
  background-color: var(--blue-light);
}

/* Header */
.gridHeader {
  font: var(--font-button-semi-20);
}

.gridHeaderParameters {
  text-align: start;
}

.gridHeaderValue {
  text-align: center;
}

/* Строки */
.gridParameter,
.gridValue {
  display: flex;
  align-items: center;
}

.gridParameter {
  text-align: start;
  font: var(--font-body-12);
}

.gridValue {
  font: var(--font-chart-reg-15);
  justify-content: center;
}

.boxDelta {
  padding: 2px 8px;
  position: relative;
}

.wrapperWarning {
  border: 2px solid var(--error);
  border-radius: 5px;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
}

@media (834px <= width < 1200px) {
  .finalTable {
    margin: 0px;
    padding: 20px 16px 18px 16px;
  }
  .caption {
    padding-left: 16px;
    margin-bottom: 26px;
  }
}

@media (width < 400px) {
  .finalTable {
    padding: 17px 16px 18px 16px;
  }
  .caption {
    font: var(--font-h1-mobile);
    padding-left: 16px;
    margin-bottom: 24px;
  }

  .gridContainer {
    grid-template-rows: 44px 52px 44px 68px 44px 44px;
  }

  .gridParameter {
    line-height: 1.4;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .gridContainer {
    border: 2px solid #141414 !important;
    background-color: #141414 !important;
    border-radius: 0;
    gap: 2px !important;
  }
}
