.container {
  max-width: 1136px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.title {
  font: var(--font-h2);
  color: var(--text-main-color, #141414);
}

.content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: var(--background-input-color, #e7f6ff);
  border-radius: 20px;
  padding: 14px 27px 14px 71px;
  width: 100%;
  gap: 22px;
  height: 523px;
}

.subtitle {
  font: var(--font-h3);
  color: var(--text-main-color, #141414);
}

.chart_wrapper {
  width: 100%;
  height: 444px;
  display: flex;
  padding-left: 9px;
  padding-bottom: 28px;
  position: relative;
}

.chart_container {
  width: 100%;
}

.line_chart {
  width: 100%;
  padding: 0;
  position: relative;
}

.chart_axis line,
.chart_grid line {
  stroke: var(--chart-axis-line-color, #bfbfbf);
}

.line_chart circle {
  r: 12px;
  stroke-dasharray: none;
}

.chart_line path {
  stroke-width: 4px;
}

.prev path {
  stroke: var(--chart-previous-period-data-color, #8550f6);
  stroke-dasharray: 8 8;
}

.current path {
  stroke: var(--chart-current-data-color, #67f4b1);
}

.legend_layout {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legend_wrapper {
  display: flex;
  justify-self: center;
  gap: 16px;
  position: absolute;
  bottom: -105px;
  padding-left: 13px;
}

.legend_item {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.legend_mark {
  height: 16px;
  width: 16px;
  border-radius: 50%;
}

.prev {
  background-color: var(--chart-previous-period-data-color, #8550f6);
}

.current {
  background-color: var(--chart-current-data-color, #67f4b1);
}

.legend_text {
  font: var(--font-body-14);
  color: var(--text-supplementary-color, #37474f);
  padding-top: 3px;
}

.ticks {
  display: grid;
  grid-template-columns: repeat(4, 202px);
  justify-content: center;
  align-content: flex-start;
  position: absolute;
  width: 100%;
  max-width: 1136px;
  top: 318px;
}

.chart_tick {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  gap: 9px;
  height: min-content;
}

.tick_wrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.tick_icon {
  width: 12px;
  height: 13.4px;
}

.tick_value {
  font: var(--font-chart-reg-15);
  color: var(--text-supplementary-color, #37474f);
  stroke: none;
}

.tick_name {
  display: block;
  font: var(--font-body-20);
  color: var(--text-supplementary-color, #37474f);
}

.tick_pressedName {
  letter-spacing: -1px;
}

.tick_nameShort {
  display: none;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .container {
    gap: 35px;
    align-items: flex-start;
  }

  .title {
    text-align: start;
  }

  .content {
    padding-left: 58px;
    padding-right: 26px;
  }

  .subtitle {
    padding-left: 15px;
  }

  .line_chart circle {
    r: 10px;
  }

  .ticks {
    display: flex;
    justify-content: space-between;
    width: calc((100vw - 834px) / 5.55 + 742px);
    right: calc((100vw - 834px) / 2.05 - 11px);
  }

  .chart_tick {
    width: fit-content;
    max-width: 202px;
  }

  .legend_wrapper {
    padding-left: 25px;
  }
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .container {
    gap: 1px;
  }

  .title {
    font: var(--font-h1-mobile);
    text-align: start;
  }

  .content {
    padding-inline: 0;
    padding-block: 16px;
    gap: 17px;
  }

  .content_withoutSubtitle {
    height: 449px;
    gap: 0;
  }

  .subtitle {
    font: var(--font-h2-mobile);
    padding-left: 8px;
    text-align: start;
  }

  .chart_wrapper {
    padding-left: 6px;
    padding-right: 8px;
    padding-bottom: 0;
    height: 417px;
  }

  .line_chart circle {
    r: 7px;
  }

  .ticks {
    display: flex;
    justify-content: space-between;
    width: 83vw;
    right: 4vw;
  }

  .chart_tick {
    width: fit-content;
    max-width: 66px;
  }

  .tick_name {
    font: var(--font-body-12);
  }

  .legend_wrapper {
    padding-left: 0;
    bottom: -88px;
  }
}

/* Стили компонента для маленького экрана (для отображения сокращенных подписей оси X */
@media (width < 450px) {
  .tick_name {
    display: none;
  }

  .tick_nameShort {
    display: flex;
    font: var(--font-body-12);
    color: var(--text-supplementary-color, #37474f);
  }
}

@media print {
  .container {
    page-break-inside: avoid;
    break-inside: avoid;
    break-before: auto;
    break-after: auto;
  }

  .chart_container :global(.recharts-surface) {
    width: 1000px !important;
  }

  .ticks {
    width: 600px;
    left: 220px;
  }

  .legend_wrapper {
    left: 425px;
  }

  .legend_mark {
    -webkit-print-color-adjust: exact;
    print-color-adjust: exact;
  }
}
