/* src\pages\ResultGroup\components\header\Header.module.css */

.header {
  display: flex;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  justify-content: flex-end;
  padding-block: 12px;
  gap: 24px;
}

.header__text {
  display: flex;
  align-items: center;
  width: 400px;
  font: var(--font-body-14);
  color: var(--gray-2);
  text-align: end;
}

.button_icon {
  margin-right: 10px;
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .header__buttons {
    flex-direction: column-reverse;
    align-items: flex-end;
    gap: 12px;
  }

  .header__text {
    width: 75%;
  }

  .button_icon {
    height: 16px;
    width: 16px;
  }
}

@media print {
  .header__buttons {
    display: none;
  }

  .header {
    margin-bottom: 40px;
  }
}
