.main {
  padding-inline: 32px;
}

.title_section {
  margin-top: 16px;
}

.card_section {
  margin-top: 35px;
}

.language_section {
  margin-top: 40px;
  margin-bottom: 28px;
}

.check_section {
  margin-top: 8px;
}

.three_functions {
  margin-top: 10px;
}

.words_block {
  margin-top: 10px;
}

.social_circles {
  margin-top: 10px;
  margin-bottom: 10px;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .main {
    padding-inline: 34px;
  }

  .title_section {
    margin-top: 6px;
  }

  .card_section {
    margin-top: 33px;
  }

  .language_section {
    margin-top: 37px;
    margin-bottom: 36px;
  }

  .check_section {
    margin-top: 8px;
  }

  .three_functions {
    margin-top: 0;
    height: 1010px;
    background-color: aquamarine;
    border-radius: 20px;
  }

  .words_block {
    margin-top: 10px;
  }

  .social_circles {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .main {
    padding-inline: 20px;
  }

  .title_section {
    margin-top: 16px;
  }

  .card_section {
    margin-top: 35px;
  }

  .language_section {
    margin-top: 40px;
    margin-bottom: 28px;
  }

  .check_section {
    margin-top: 8px;
  }

  .three_functions {
    margin-top: 0;
    height: 1010px;
    background-color: aquamarine;
    border-radius: 20px;
  }

  .words_block {
    margin-top: 10px;
  }

  .social_circles {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
