.main {
  padding-inline: 32px;
}

.header {
  display: flex;
  justify-content: space-between;
}

.header__buttons {
  display: flex;
  padding-block: 12px;
  gap: 24px;
}

.button_icon {
  margin-right: 10px;
}

.mt_title {
  margin-top: 16px;
}

.mt_card {
  margin-top: 35px;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .main {
    padding-inline: 34px;
  }

  .mt_title {
    margin-top: 6px;
  }

  .mt_card {
    margin-top: 33px;
  }
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .main {
    padding-inline: 20px;
  }

  .header__buttons {
    gap: 8px;
  }

  .button_icon {
    height: 16px;
    width: 16px;
  }

  .mt_title {
    margin-top: 5px;
  }

  .mt_card {
    margin-top: 10px;
  }
}
