.main {
  padding-inline: 32px;
  max-width: 1200px;
  margin: 0 auto;
}

.title_section {
  margin-top: 16px;
}

.card_section {
  margin-top: 36px;
}

.language_section {
  margin-top: 40px;
}

.communicatives_functuion {
  margin-top: 28px;
}

.check_section,
.words_section {
  padding-block: 0 !important;
}

.check_section > div {
  padding-bottom: 0;
}

.check_section,
.three_functions,
.words_section,
.social_circles {
  margin-top: 40px;
}

.final_table {
  margin-top: 96px !important;
  margin-bottom: 95px !important;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .main {
    padding-inline: 34px;
    padding-top: 15px;
  }

  .title_section {
    margin-top: 6px;
  }

  .check_section > div {
    padding-bottom: 0;
  }

  .words_section {
    padding: 0;
  }

  .card_section {
    margin-top: 34px;
  }

  .check_section {
    margin-top: 28px;
  }

  .language_section,
  .communicatives_functuion,
  .check_section,
  .three_functions,
  .words_section,
  .social_circles {
    margin-top: 36px;
  }

  .final_table {
    margin-top: 36px !important;
    margin-bottom: 36px !important;
  }
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .main {
    padding-inline: 20px;
    padding-top: 32px;
  }

  .title_section {
    margin-top: 6px;
  }

  .card_section {
    margin-top: 10px;
  }

  .language_section,
  .communicatives_functuion,
  .check_section,
  .words_section {
    margin-top: 40px;
  }

  .check_section > div {
    padding-bottom: 0;
  }

  .words_section {
    padding-bottom: 0;
  }

  .social_circles {
    margin-top: 66px;
  }

  .final_table {
    margin-top: 40px !important;
    margin-bottom: 48px !important;
  }
}

@media (width < 400px) {
  /* нужно для того чтобы итоговая таблица растянулась по всей ширине экрана по макету */
  .main {
    padding-inline: 0;
  }

  .with_padding {
    padding-inline: 20px;
  }

  .check_section > div > div > div {
    gap: 0;
    justify-content: space-between;
  }
}

/* стили для печати */
@media print {
  .title_section,
  .card_section,
  .language_section,
  .communicatives_functuion,
  .check_section,
  .three_functions > div,
  .words_section,
  .social_circles,
  .final_table {
    page-break-inside: avoid;
    break-inside: avoid;
    break-before: auto;
    break-after: auto;
    margin-top: 40px;
  }

  .three_functions > div > div > div {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .title_section h1 {
    font-size: 48px;
    font-weight: 700;
    line-height: 1.2;
  }

  .card_section h2,
  .language_section h2,
  .communicatives_functuion h2,
  .check_section h2,
  .three_functions h2,
  .words_section h2,
  .social_circles h2 {
    font-size: 36px;
    font-weight: 500;
    line-height: 1.2;
  }

  .social_circles > div {
    flex-direction: row;
    width: 1020px;
    padding: 36px 96px;
  }

  .language_section,
  .three_functions > div > div > div,
  .words_section,
  .social_circles > div,
  .final_table {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }
}
