/* src\pages\ResultGroup\ResultGroupPage.module.css */

.main {
  padding-inline: 32px;
}

.language_section {
  margin-top: 10px;
}

.initiative_section {
  margin-top: 35px;
}

.communicative_section {
  margin-top: 36px;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .main {
    padding-inline: 34px;
  }

  .language_section {
    margin-top: 10px;
  }

  .initiative_section {
    margin-top: 37px;
  }

  .communicative_section {
    margin-top: 36px;
  }
}

@media (width < 834px) {
  .main {
    padding-inline: 20px;
  }

  .language_section {
    margin-top: 10px;
  }

  .initiative_section {
    margin-top: 41px;
  }

  .communicative_section {
    margin-top: 42px;
  }
}
