/* src\pages\ResultGroup\ResultGroupPage.module.css */

.main {
  padding-inline: 32px;
}

.language_section {
  margin-top: 46px;
}

.initiative_section {
  margin-top: 35px;
}

.communicative_section {
  margin-top: 36px;
}

.groupDescriptionSection {
  margin-bottom: 0px;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .main {
    padding-inline: 34px;
  }

  .language_section {
    margin-top: 10px;
  }

  .initiative_section {
    margin-top: 37px;
  }

  .communicative_section {
    margin-top: 36px;
  }
}

@media (width < 834px) {
  .main {
    padding-inline: 20px;
  }

  .language_section {
    margin-top: 10px;
  }

  .initiative_section {
    margin-top: 41px;
  }

  .communicative_section {
    margin-top: 42px;
  }
}

@media print {
  * {
    -webkit-print-color-adjust: exact !important;
    print-color-adjust: exact !important;
  }

  .language_section {
    margin-top: 40px;
  }

  .initiative_section {
    margin-top: 30px;
  }
}
