.button {
  height: 56px;
  width: 156px;
  font: var(--font-button-semi-20);
  border-radius: 20px;
  border: 2px solid var(--button-active-color, #5b93f4);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.secondary {
  background-color: var(--button-active-color, #5b93f4);
  color: var(--text-for-dark-button, #ffffff);
}

.secondary:hover {
  background-color: var(--button-hover-color, #7eadfe);
}

.tertiary {
  background-color: var(--background-main-color, #ffffff);
  color: var(--text-for-light-button, #5b93f4);
}

.tertiary:hover {
  background-color: var(--button-tertiary-hover-color, #e7f6ff);
}

.secondary:active,
.tertiary:active {
  background-color: var(--button-pressed-color, #4976c3);
  color: var(--text-for-dark-button, #ffffff);
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .button {
    height: clamp(32px, calc(17px + 4.67vw), 56px);
    width: clamp(77px, calc(28px + 1.37vw), 156px);
    font: var(--font-body-12);
  }
}
