.container {
  width: 100%;
  height: min-content;
}
.title {
  color: var(--text-main-color);
  font: var(--font-h2);
}
.chartWrapper {
  width: 100%;
  display: flex;
  align-items: left;
}
.chartTitle {
  color: var(---text-supplementary-color);
  font: var(--font-body-20);
}
.title_chart__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 18px;
  padding-top: 21px;
  width: 217px;
}
.chart__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
  padding-top: 25px;
  margin-left: 12px;
  margin-right: 12px;
}
.chart__item {
  display: flex;
  flex-direction: row;
  text-align: left;
}
.chartProcent {
  display: flex;
  gap: 8px;
}
