/* src\pages\Result\components\wordsCountBlock\WordsCountBlock.module.css */

.block {
  overflow-wrap: break-word;
  word-break: break-word;
  border-radius: 20px;
  padding: 32px 36px;
}

.title {
  margin: 0 0 20px 0;
  font: var(--font-h3);
  color: var(--text-main-color, #141414);
  text-align: left;
}

.icon {
  width: 27px;
  height: 27px;
  margin: 0 10px 6px 0;
  vertical-align: middle;
}

.info {
  font: var(--font-h2);
  margin: 16px 0 8px 0;
  color: var(--text-main-color, #141414);
  text-align: left;
}

.deltaLine {
  display: flex;
  gap: 4px;
  margin-top: 22px;
}

.delta {
  font: var(--font-tag-14-extra, 800 14px/1 var(--main-font-family));
  color: var(--text-accent3-color, #8550f6);
}

.lastResultText {
  font: var(--font-body-14);
  color: var(--text-disabled-color, #6a6a6a);
}

/* планшет */
@media (834px <= width < 1200px) {
  .block {
    padding: 19px 14px;
  }
}

/* мобильный */
@media (width < 834px) {
  .title {
    font: var(--font-h3-mobile);
  }
  .info {
    font: var(--font-h1-mobile);
  }
  .block {
    padding: 20px;
  }
  .lastResultText {
    font: var(--font-body-14, 400 14px/1 var(--main-font-family));
  }
}
