/* src\pages\Result\components\checkSection\CheckSection.module.css */

.section {
  width: 100%;
  padding: 32px 0;
  background: var(--background-main-color, #ffffff);
  background: #67f4b1;
  border-radius: 20px;
  color: var(--text-main-color, #141414);
}

.header {
  margin: 0 0 20px 0;
  font: var(--font-h2);
  color: var(--text-main-color, #141414);
  text-align: left;
  width: 100%;
}

.container {
  padding: 32px 0;
  margin: 0 96px;
  display: flex;
  flex-direction: column;
  background: var(--background-main-color, #ffffff);
}

.title {
  margin: 0 0 10px 0;
  font: var(--font-h3, 500 28px/1 var(--main-font-family));
  color: var(--text-main-color, #141414);
  text-align: left;
}

.gaugesBox {
  border: 2px solid var(--violet, #8550f6);
  border-radius: 16px;

  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px auto 0 auto;
}

.centerTitle {
  margin-top: 10px;
  font: var(--font-body-20, 400 20px/1.2 var(--main-font-family));
}

.gauges {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  margin-top: 25px;
}

.legend {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  margin-top: 24px;
  gap: 15px;
}

.legendItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.legendTop {
  display: flex;
  align-items: center;
  gap: 8px;
  font: var(--font-button-semi-20, 600 20px/1.2 var(--main-font-family));
}

.dotFirst,
.dotSecond,
.dotThird {
  width: 20px;
  height: 20px;
  border-radius: 50%;
}

.dotFirst {
  background: var(--chart-circle-first-color, #8550f6);
}

.dotSecond {
  background: var(--chart-circle-second-color, #67f4b1);
}

.dotThird {
  background: var(--chart-circle-third-sector-color, #5b93f4);
}

.text {
  font: var(--font-chart-reg-15, 400 15px/1 var(--main-font-family));
  color: var(--text-supplementary-color, #37474f);
}

.descriptionBlock {
  width: 100%;
  height: auto;
  display: flex;
  align-items: center;
  font: var(--font-body-20, 400 20px/1.2 var(--main-font-family));
  margin-top: 26px;
}

.descriptionLabel {
  flex: 0 0 20%;
  text-align: left;
  color: var(--text-disabled-color, #6a6a6a);
}

.descriptionContent {
  flex: 0 0 80%;
  height: 48px;
  background: var(--background-input-color, #e7f6ff);
  align-items: center; /* по центру по вертикали */
  border-radius: 20px;
  display: flex;
  padding: 0 16px;
}

/* стили для планшетной версии */
@media (834px <= width < 1200px) {
  .descriptionBlock {
    flex-direction: column;
    align-items: flex-start;
  }
  .descriptionLabel {
    height: 32px;
    flex: none;
  }
  .descriptionContent {
    width: 100%;
    flex: none;
  }
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
}
