.container {
  width: 100%;
  height: 100%;
  margin-left: 25px;
  padding-right: 72px;
}
.recharts-responsive-container {
  width: 100%;
  height: 100%;
}
.legendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 25px;
  margin-top: 25px;
}

.recharts-legend-wrapper {
  top: 10px;
  left: 20px;
  bottom: 80px;
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 5px;
}

.legendMarker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
}

.legendMarkerCurrent {
  background-color: var(--chart-current-data-color);
}

.legendMarkerPrevious {
  background-color: var(--chart-previous-period-data-color);
}

.legendText {
  font: var(--font-body-14);
  color: var(--gray-4);
}

.labelText {
  fill: var(--text-supplementary-color);
  font: var(--font-chart-semi-12);
}

.barCurrent {
  fill: var(--chart-current-data-color);
}

.barPrevious {
  fill: var(--chart-previous-period-data-color);
}
.recharts-cartesian-axis {
  font: var(--font-chart-semi-12);
}
.recharts-cartesian-axis-tick {
  font: var(--font-chart-semi-12);
  color: var(--text-main-color);
}

@media screen and (max-width: 833px) {
  .container {
    margin-left: 0;
    padding-right: 0px;
    height: 313px;
  }
  .legendText {
    font: var(--font-chart-semi-10);
  }
  .legendContainer {
    margin-top: 0px;
  }
  .recharts-legend-wrapper {
    left: 0px;
    bottom: 20px;
  }
}
