.container {
  width: 100%;
  height: 100%;
  margin-left: 15px;
}
.recharts-responsive-container {
  width: 100%;
  height: 100%;
}
.legendContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 10px;
  font: var(--font-chart-semi-10);
  color: var(--text-supplementary-color);
}

.legendItem {
  display: flex;
  align-items: center;
  gap: 8px;
}

.legendMarker {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  flex-shrink: 0;
}

.legendMarkerCurrent {
  background-color: var(--chart-current-data-color);
}

.legendMarkerPrevious {
  background-color: var(--chart-previous-period-data-color);
}

.legendText {
  font-size: 12px;
  color: var(--text-supplementary-color);
  font: var(--font-chart-semi-10);
}

.labelText {
  fill: var(--text-supplementary-color);
  font: var(--font-chart-semi-12);
}

.barCurrent {
  fill: var(--chart-current-data-color);
}

.barPrevious {
  fill: var(--chart-previous-period-data-color);
}
.recharts-cartesian-axis {
  font: var(--font-chart-semi-12);
}
.recharts-cartesian-axis-tick {
  font: var(--font-chart-semi-12);
  color: var(--text-main-color);
}
