.container {
  width: clamp(47.875rem, 22.3822rem + 48.9071vw, 59.0625rem);
  height: min-content;
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.title {
  color: var(--text-main-color);
  font: var(--font-h2);
  text-align: left;
}
.chartWrapper {
  width: 100%;
  height: 333px;
  display: flex;
  align-items: left;
  gap: 12px;
}
.titleConteiner {
  width: 289px;
  height: min-content;
  display: flex;
  align-items: left;
}
.chartTitle {
  width: 100%;
  color: var(--text-supplementary-color);
  font: var(--font-body-20);
}
.title_chart__list {
  display: flex;
  flex-direction: column;
  align-items: left;
  gap: 30px;
  padding-top: 15px;
}
.chart__item {
  height: 36px;
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
}
.chart__itemTitle {
  font: var(--font-body-20);
  max-width: 217px;
}
.procentInfo {
  box-sizing: border-box;
  width: 64px;
  font: var(--font-chart-reg-15);
  display: flex;
  justify-content: flex-start;
}
.imgConteiner {
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.chart__itemArrow {
  width: 12px;
  height: 13.4px;
}

.chartLine {
  width: clamp(29.3125rem, 4.3893rem + 47.8142vw, 40.25rem);
}

@media screen and (max-width: 833px) {
  .container {
    width: 100%;
  }
  .chartWrapper {
    height: min-content;
    flex-direction: column-reverse;
    gap: 0px;
  }
  .chartLine {
    height: 313px;
    width: 100%;
  }
  .title {
    font: var(--font-h1-mobile);
  }
  .titleConteiner {
    width: 100%;
    justify-content: space-between;
  }
  .chart__itemTitle {
    font: var(--font-body-12);
  }
  .procentInfo {
    flex-direction: row-reverse;
    justify-content: space-between;
  }
  .title_chart__list {
    gap: 4px;
    padding-top: 0px;
  }
  .chart__item {
    height: 24px;
  }
}
