.date-picker {
  display: inline-block;
  min-width: 224px;
  min-height: 114px;
  background-color: var(--blue-light);
  border-radius: 20px;
  padding: 16px;
}

.date-label {
  font-weight: 600;
  text-align: left;
  font: var(--font-form-semi-18, 600 18px/1.2 var(--main-font-family));
}

.date-required {
  color: var(--error-color);
}

.date-input {
  text-align: left;
  margin-top: 9px;
}

.date-error {
  display: flex;
  gap: 7px;
  align-items: start;
  color: var(--error-color);
  font: var(--font-body-12);
  max-width: 290px;
  text-align: left;
  vertical-align: auto;
  margin-top: 16px;
}

.input {
  width: 141px;
  height: 48px;
  border-radius: 20px;
  border: none;
  padding-left: 8px;
  font: var(--font-body-16-light);
  letter-spacing: 0;
}

.input-error {
  border: 2px solid var(--error-color);
}

input[type='date']::-webkit-calendar-picker-indicator {
  transform: scale(1.5);
  margin-right: 10px;
}

@media (max-width: 834px) {
  .date-picker {
    min-width: 280px;
    min-height: 112px;
  }
}
