.popup {
  width: min-content;
  height: min-content;
  background: var(--background-main-color);
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  gap: 12px;
  box-shadow:
    -8px -2px 16px 0px rgba(0, 0, 0, 0.25),
    8px 4px 16px 0px rgba(0, 0, 0, 0.25);
  color: var(--text-main-color);
}

.popup__img {
  width: 45px;
  height: 45px;
  margin-top: 10px;
  margin-bottom: 8px;
}

.popup__title {
  color: var(--error-color);
  font: var(--font-form-semi-18);
  text-align: center;
}

.popup__list {
  width: clamp(22.625rem, 1.2623rem + 40.9836vw, 32rem);
  font: var(--font-inst-popup);
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 8px;
  color: var(--text-main-color);
}

@media screen and (min-width: 321px) and (max-width: 833px) {
  .popup__list {
    width: clamp(14.5rem, 9.4416rem + 25.2918vw, 22.625rem);
    font: var(--font-body-16-medium);
  }
}

@media screen and (max-width: 320px) {
  .popup__list {
    width: 232px;
  }
  .popup__img {
    width: 32px;
    height: 32px;
  }
}

@media screen and (max-width: 600px) {
  .popup__list {
    width: 235px;
  }
}
