*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--main-font-family);
}

button,
input,
a {
  color: inherit;
  background-color: transparent;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
  text-decoration: none;
  border: none;
}

input:focus,
button:focus,
a:focus {
  outline: none;
}

input:focus-visible,
button:focus-visible,
a:focus-visible {
  outline: 2px solid var(--text-supplementary-color, #37474f);
}

ul,
ol {
  list-style: none;
}
