.container {
  width: 100%;
  height: 100%;
}

.y_axis,
.cartesian_grid {
  stroke: var(--chart-axis-line-color, #bfbfbf);
}
.bars {
  gap: 5px;
}

.labelText {
  fill: var(--text-supplementary-color, #37474f);
  font: var(--font-chart-semi-13);
}

.barPrevious {
  fill: var(--chart-previous-period-data-color, #8550f6);
}

.barCurrent {
  fill: var(--chart-current-data-color, #67f4b1);
}
