.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 256px;
  gap: 23px;
}

.pie_prev {
  fill: var(--chart-previous-period-data-color, #8550f6);
}

.pie_current {
  fill: var(--chart-current-data-color, #67f4b1);
}

/* Стили компонента для мобильной версии */
@media (width < 834px) {
  .container {
    flex-direction: row;
    min-height: 0;
    gap: 0;
  }
}
