.title {
  font: var(--font-h2);
  text-align: start;
  margin: 26px 0;
}

.card__content {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  border-radius: 20px;
  padding: 32px 96px;
  background-color: var(--blue-light);
}

.card__block {
  display: flex;
  flex-direction: column;
  gap: 19px;
}

.card__header {
  min-height: 42px;
  border-radius: 14px;
  background-color: var(--white);
  padding: 12px 0;
  font: var(--font-tag-16-medium);
  text-transform: uppercase;
}

.card__circle {
  height: 221px;
  width: 221px;
  border-radius: 125px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
  font: var(--font-chart-extra-20);
  padding: 38px;
}

.card__image {
  display: flex;
  align-items: center;
  justify-content: space-around;
  align-self: center;
  width: 80px;
  height: 80px;
}

.image-family {
  width: 80px;
  height: 63.33px;
}

.image-friends {
  width: 73.37px;
  height: 66.67px;
}

.image-specialists {
  width: 73.33px;
  height: 60px;
}

.image-familiar {
  width: 73.33px;
  height: 53.33px;
}

.circle-family {
  background-color: var(--blue);
  color: var(--white);
}

.circle-friends {
  background-color: var(--green);
  color: var(--black);
}

.circle-specialists {
  background-color: var(--yellow);
  color: var(--black);
}

.circle-familiar {
  background-color: var(--violet);
  color: var(--white);
}

@media (834px <= width < 1200px) {
  .card__block {
    width: 128.5px;
    gap: 20px;
  }

  .card__circle {
    width: 128.5px;
    height: 128.5px;
    font: var(--font-chart-extra-20);
    padding: 18px;
  }

  .card__image {
    width: 40px;
    height: 40px;
  }

  .image-family {
    width: 40px;
    height: 31.67px;
  }

  .image-friends {
    width: 36, 68px;
    height: 33.33px;
  }

  .image-specialists {
    width: 36.67px;
    height: 30px;
  }

  .image-familiar {
    width: 36.67px;
    height: 26.67px;
  }

  .card__header {
    padding: 13px 0;
  }
}

@media (width < 834px) {
  .title {
    font: var(--font-h1-mobile);
  }

  .card__block {
    width: 100%;
    max-width: 248px;
    align-items: center;
    gap: 8px;
  }

  .card__content {
    flex-direction: column;
    gap: 20px;
    padding: 32px 16px 54px 16px;
  }

  .card__header {
    width: 100%;
    padding: 13px 0;
  }

  .card__circle {
    width: 100px;
    height: 100px;
    font: var(--font-tag-16-bold);
    padding: 12px;
    gap: 11px;
  }

  .card__image {
    width: 32px;
    height: 32px;
  }

  .image-family {
    width: 32px;
    height: 25.33px;
  }

  .image-friends {
    width: 29.35px;
    height: 26.67px;
  }

  .image-specialists {
    width: 29.33px;
    height: 24px;
  }

  .image-familiar {
    width: 29.33px;
    height: 21.33px;
  }
}
